            @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
          body {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              height: 100vh;
              margin: 0;
              padding: 0;
              font-family: "RaleWay", sans-serif;
          }
          footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        footer a {
            color: #fff;
        }
          header {
              text-align: center;
              margin-bottom: 20px;
          }
  
          h2 {
              text-align: center;
          }
  
          main {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
  
          #loadingMessage {
            position: fixed;
            top: 47%;
            left: 48%;
            transform: translate(-50%, -50%);
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
            display: block;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
          #uploadedImage {
              max-height: 400px;
              max-width: 400px;
              height: auto;
              margin-bottom: 10px;
              display: none;
          }
  
          #downloadContainer {
              margin-top: 20px;
          }
  
          #downloadButton {
              padding: 10px 20px;
              background-color: #4CAF50;
              color: #fff;
              text-decoration: none;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              display: none;
          }
          #errorMessage {
              display: none;
              color: red;
              font-size: 24px;
          }