@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
        body {
            font-family: "RaleWay", sans-serif;
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        h2 {
            color: #333;
        }

        form {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            margin-bottom: 10px;
        }

        button {
            font-family: "RaleWay", sans-serif;
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #result {
            display: none;
            font-family: "RaleWay", sans-serif;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
        }

        #copyButton {
            display: none;
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        #custom-file-button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
        }

        #loadingLabel {
            display: none;
            margin-top: 10px;
            color: #333;
            font-weight: bold;
        }
        #file-label {
            font-size: 1em;
            margin-bottom: 10px;
        }